.cardItem {
    width: 240px;
    height: 60px;
    background-color: transparent;
    margin: 1rem;
    margin-bottom: 1.3rem;
    color: #fff;

    margin-right: 4rem;
    margin-left: 3rem;
}
a {
    background-color: transparent;
    text-decoration: none;
}

button {
    width: 98px;
    height: 44px;
    background: rgb(41, 41, 46);
    padding: 14px;
    border: 0;
    margin-top: 1rem;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    transition: all 0.2s linear;
    cursor: pointer;
}

button:active {
    background-color: transparent;
    outline: none;
}
img {
    background-color: transparent;
     width: 320px;
     height: 90px;
}

.cntainer--card--item {
    width: 350px;
    margin: 1.5rem;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}

@media only screen and (max-width: 820px) {
    
    .cntainer--card--item {
        width: 645px;
        margin-left: -10px;
        display: flex;
        justify-content: flex-start;
    }

    .cardItem {
        border-bottom: none;
        margin-left: -30px;
    }
    
    .cardItem a img{
        width: 200px;
        height: 50px;
        padding: 0 10px;
    }
    .cntainer--card--item .cardItem  {
        height: 100px;
        border-radius: 8px;
    }
    .cntainer--card--item .cardItem > a > button {
       width: 200px;
    }
}